<div class="container-fluid" *ngIf="ditper">

    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

            <div class="form-grup">
                <label for="nombreE">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="ditper.nombre" required>
            </div>

            <div class="form-grup">
                <label for="descripcionE">Apellido:</label>
                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="ditper.apellido" required>
            </div>

            <div class="form-grup">
                <label for="descripcionE">Foto Perfil:</label>
                <input type="text" class="form-control" id="img" name="img" [(ngModel)]="ditper.img" required>
            </div>

            <div class="form-grup">
                <label for="descripcionE">Titulo:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="ditper.titulo" required>
            </div>

            <div class="form-grup">
                <label for="descripcionE">Ciudad/Provincia:</label>
                <input type="text" class="form-control" id="residencia" name="residencia" [(ngModel)]="ditper.residencia" required>
            </div>

            <div class="form-grup">
                <label for="descripcionE">Acerca de mi:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="ditper.descripcion"
                    required></textarea>
            </div>

            <button class="btn btn-info">Editar Persona</button>

            <a href="">
                <button type="button" class="btn btn-info">Volver</button>
            </a>
            
            </form>

        </div>
    </div>
