.container-fluid{
    width: 98%;
    margin: 60px 0px 10px 8px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    background-color: whitesmoke;
    color: #0e1f1f;
}

#banner {
    width: 100%;
    padding: 0%;
    border-radius: 24px 24px 0 0;
}

#profile {
    border-radius: 50%;
    transition: border-radius 1.2s;
    margin: 15px 0;
    box-shadow: 5px 5px 5px darkgrey;
}

#about {
    position: relative;
    text-align: justify;
}

@media (max-width: 2005px) {
    #about {
        
        left: -19%;
        margin-right: -18%;
    }
}


@media (max-width: 991px){
    #about {
        left: -33%;
        margin-right: -32%;
    }
}

@media (max-width: 576px){
    #about {
        left: -52%;
        margin-right: -51%;
    }
}

#about button,
#about p {
    margin: 0 0 10px 0;
}

.col-4 {
    position: relative;
    top: -150px;
}

@media (max-width: 425px) {
    #profile {
        border-radius: 40%;
        transition: border-radius 0.8s;
    }
}

@media (max-width: 390px) {
    #profile {
        border-radius: 20%;
        transition: border-radius 0.8s;
    }
}

#datosPers {
    margin: 3vw 0 0 0;
}

@media (max-width: 1700px) {
    #datosPers {
        margin: 20px 0;
    }
}

h5 {
    font-weight: bold;
    padding-bottom: 0.6em;
}

.col-1{
    text-align: end;
}

button {
    width: inherit;
    height: fit-content;
    margin: 20px 0.5em;
    background-color: #59c4c4;
    color: #0e1f1f;
    border-color: #0e1f1f;
}

button:hover {
    background-color: #0e1f1f;
    color: #59c4c4;
    border-color: #59c4c4;
}

button:focus {
    background-color: #0e1f1f;
    color: #59c4c4;
    border-color: #59c4c4;
}