<div class="container-fluid">

    <div class="row">
        <img src="/assets/Banner.jpg" id="banner">
    </div>

    <div class="row">

        <div class="col-4 col-sm-3 col-lg-2 d-flex align-items-center">
            <img src={{persona.img}} class="img-fluid" id="profile">
        </div>

        <div class="col" id="datosPers">
            
            <h4>{{persona.apellido}}, {{persona.nombre}}</h4>
            <h5>{{persona.titulo}}</h5>
            <h5>{{persona.residencia}}</h5>
            <div id="about">
                <hr class="solid">
                <h5>Acerca de Mi</h5>
                <p>{{persona.descripcion}}</p>
                <button id="btn" type="button" class="btn btn-info" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Informacion de contacto</button>
                <div class="collapse" id="collapseExample">
                      <p>WhatsApp: "{{persona.numero}}" /--/ e-mail: "{{persona.email}}"</p>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-info" routerLink="/editPerfil/{{persona.id}}" *ngIf="isLogged">
            <i class="bi bi-pencil-square"></i></button>
    </div>

</div>
