.container-fluid{
    width: 98%;
    margin: 8px 0px 10px 8px;
    padding: 15px 20px 10px 20px;
    background-color: whitesmoke;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    color: #0e1f1f;
}

table {
    margin-left: 1em;
}

#name {
    width: 35%;
}

#dsc {
    width: 65%;
}

h4 {
    font-size: calc(0.3rem + 2.25vmax);
}

h5 {
    font-size: calc(0.4rem + 1.5vmax);
}

p {
    font-size: calc(0.65rem + .7vmax);
}

#btn {
    padding: 0.5em 0.1em;
    width: 2.5em;
    font-size: calc(.65rem + .71vmax);
}

#add {
    margin-inline-start: auto;
}

button {
    width: inherit;
    background-color: #59c4c4;
    color: #0e1f1f;
    border-color: #0e1f1f;
}

button:hover {
    background-color: #0e1f1f;
    color: #59c4c4;
    border-color: #59c4c4;
}

button:focus {
    background-color: #0e1f1f;
    color: #59c4c4;
    border-color: #59c4c4;
}