<div class="container-fluid" style="overflow: auto">
    
    <div class="row">
        <h3 class="col col-sm-10 col-lg-11">Experiencia Laboral</h3>
        <button type="button" class="btn btn-info" id="add" routerLink="/nuevaexp" *ngIf="isLogged">
            <i class="bi bi-plus-square"></i></button>
        <div>
            <table class="table">
                <tbody>
                    <tr *ngFor="let Experiencia of expe">
                        <td><h5>{{Experiencia.nombreE}}</h5></td>
                        <td>{{Experiencia.descripcionE}}</td>
                        <td id="btn"><button type="button" class="btn btn-info" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged">
                            <i class="bi bi-pencil-square"></i></button></td>
                        <td id="btn"><button type="button" class="btn btn-info" (click)="delete(Experiencia.id)" *ngIf="isLogged">
                            <i class="bi bi-trash3-fill"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   
    <div class="row">
        <h3>Educación</h3>

        <div class="col-lg-1 col-sm-2 col-3">
            <p id="icon">Ico I1</p>
        </div>

        <div class="col-lg-11 col-sm-10 col-9">
            <h5>Estudio 1 - (years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempora consequuntur quibusdam autem debitis, optio possimus error ipsum corporis eum? Sed velit atque facilis perspiciatis laboriosam amet consequatur veniam. Porro.</p>
        </div>

        <div class="col-lg-1 col-sm-2 col-3">
            <p id="icon">Ico I2</p>
        </div>

        <div class="col-lg-11 col-sm-10 col-9">
            <h5>Estudio 2 - (years)</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur nam sapiente saepe voluptatem libero enim ipsum eius esse, dolores voluptate delectus iusto perferendis ab non sed ipsam tenetur vitae.</p>
        </div>
    </div>
</div>