<div class="container-fluid">
    
    <div class="row">
        <h3>Experiencia</h3>

        <div class="col-lg-1 col-sm-2 col-3">
            <p id="icon">Ico T1</p>
        </div>

        <div class="col-lg-11 col-sm-10 col-9">
            <h5>Trabajo 1 - (years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempora consequuntur quibusdam autem debitis, optio possimus error ipsum corporis eum? Sed velit atque facilis perspiciatis laboriosam amet consequatur veniam. Porro.</p>
        </div>

        <div class="col-lg-1 col-sm-2 col-3">
            <p id="icon">Ico T2</p>
        </div>

        <div class="col-lg-11 col-sm-10 col-9">
            <h5>Trabajo 2 - (years)</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur nam sapiente saepe voluptatem libero enim ipsum eius esse, dolores voluptate delectus iusto perferendis ab non sed ipsam tenetur vitae.</p>
        </div>
    </div>
   
    <div class="row">
        <h3>Educación</h3>

        <div class="col-lg-1 col-sm-2 col-3">
            <p id="icon">Ico I1</p>
        </div>

        <div class="col-lg-11 col-sm-10 col-9">
            <h5>Estudio 1 - (years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempora consequuntur quibusdam autem debitis, optio possimus error ipsum corporis eum? Sed velit atque facilis perspiciatis laboriosam amet consequatur veniam. Porro.</p>
        </div>

        <div class="col-lg-1 col-sm-2 col-3">
            <p id="icon">Ico I2</p>
        </div>

        <div class="col-lg-11 col-sm-10 col-9">
            <h5>Estudio 2 - (years)</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur nam sapiente saepe voluptatem libero enim ipsum eius esse, dolores voluptate delectus iusto perferendis ab non sed ipsam tenetur vitae.</p>
        </div>
    </div>
</div>