<nav class="navbar fixed-top">

    <div class="container-fluid">

      <span class="navbar-brand">
        <img src="/assets/APLogo.png" class="d-inline-block align-text-top" id="APlogo">
        Argentina Programa - #YoProgramo
      </span>
    
      <div>
        <a href="https://github.com/PelusoDv"><img src="/assets/github.png"></a>
        <a href="https://www.facebook.com/nicolas.davalos1"><img src="/assets/facebook.png"></a>
        <a href="https://www.instagram.com/nico_dv15/"><img src="/assets/instagram.png"></a>
        <a href="https://www.linkedin.com/in/nicol%C3%A1s-d%C3%A1valos-585015158/"><img src="/assets/linkedin.png"></a>
      </div>

    </div>
</nav>
