<div class="container-fluid">

    <div class="row">
        <img src="/assets/Banner.png" id="banner"> <!-- cambiar el banner por uno de mayor resolucion -->
    </div>

    <div class="row">

        <div class="col-4 col-sm-3 col-lg-2">
            <img src="/assets/Foto-perfil.jpg" class="img-fluid" id="profile">
        </div>

        <div class="col" id="datosPers">
            <p>Dávalos Kolesnik, Nicolás Alfredo</p>
            <p>Full Stack Developer Junior</p>
            <p>Posadas, Misiones - (Argentina)</p>
        </div>
    </div>

</div>
