.container-fluid{
    width: 99%;
    margin: 60px 0px 10px 8px;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: silver;
    background-color: whitesmoke;
}

#banner {
    width: 100%;
    padding: 0%;
    border-radius: 24px 24px 0 0;
}

#profile {
    border-radius: 50%;
    transition: border-radius 3.2s;
    margin: 15px 0;
    box-shadow: 5px 5px 5px darkgrey;
}

@media (max-width: 425px) {
    #profile {
        border-radius: 40%;
        transition: border-radius 0.8s;
    }
}

@media (max-width: 390px) {
    #profile {
        border-radius: 20%;
        transition: border-radius 0.8s;
    }
}

#datosPers {
    margin: 20px 0;
}

h5 {
    font-weight: bold;
    padding-bottom: 0.6em;
}