<div class="container-fluid">

    <div class="row">

        <h3 class="col col-sm-10 col-lg-11">Hard & Soft Skills</h3>
        
        <button type="button" class="btn btn-info" id="add" routerLink="/nuevaSkill" *ngIf="isLogged">
        <i class="bi bi-plus-square"></i></button>

        <div class="text-center col-sm-6 col-md-4" *ngFor="let Skills of skill">
            <button type="button" class="btn btn-info" routerLink="/editSkill/{{Skills.id}}" *ngIf="isLogged">
                <i class="bi bi-pencil-square"></i></button>
            <circle-progress
                [percent]="(Skills.percent)"
                [title]="(Skills.nombreS)"
            ></circle-progress>
            <button type="button" class="btn btn-info" (click)="deleteSkill(Skills.id)" *ngIf="isLogged">
                <i class="bi bi-trash3-fill"></i></button>
        </div>

    </div>

</div>
