<div class="container-fluid">

    <h3>Hard & Soft Skills</h3>

    <div class="row">

        <div class="text-center col-sm-6 col-md-4">
            <circle-progress
                [percent]="95"
                [radius]="100"
                [title]="'HTML'"
                [titleColor]="'#0e1f1f'"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'1.8em'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#59c4c4'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [title]="'CSS'"
                [titleColor]="'#0e1f1f'"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'1.8em'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#59c4c4'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4">
            <circle-progress
                [percent]="70"
                [radius]="100"
                [title]="'JavaScript'"
                [titleColor]="'#0e1f1f'"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'1.8em'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#59c4c4'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [title]="'Bootstrap'"
                [titleColor]="'#0e1f1f'"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'1.8em'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#59c4c4'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4">
            <circle-progress
                [percent]="85"
                [radius]="100"
                [title]="'GitHub'"
                [titleColor]="'#0e1f1f'"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'1.8em'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#59c4c4'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-6 col-md-4">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [title]="'English'"
                [titleColor]="'#0e1f1f'"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'1.8em'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#59c4c4'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

        <div class="text-center col-sm-6 col-md-4">
            <circle-progress
                [percent]="75"
                [radius]="100"
                [title]="'Team-Work'"
                [titleColor]="'#0e1f1f'"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'1.8em'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#59c4c4'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

        <div class="text-center col-sm-6 col-md-4">
            <circle-progress
                [percent]="100"
                [radius]="100"
                [title]="'Pensamiento'"
                [subtitle]="'Critico'"
                [titleColor]="'#0e1f1f'"
                [subtitleColor]="'#0e1f1f'"
                [showUnits]="false"
                [showSubtitle]="true"
                [titleFontSize]="'1.7em'"
                [subtitleFontSize]="'1.6em'"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#59c4c4'"
                [innerStrokeColor]="'darkgrey'"
                [animation]="true"
                [animationDuration]="400"
            ></circle-progress>
        </div>

    </div>

</div>
