<nav class="navbar navbar-expand-sm fixed-top">

    <div class="container-fluid">

      <span class="navbar-brand">
        <img src="/assets/APLogo.png" class="d-inline-block align-text-top" id="APlogo">
         #YoProgramo
      </span>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <div>
          <a href="https://github.com/PelusoDv"><img src="/assets/github.png"></a>
          <a href="https://www.facebook.com/nicolas.davalos1"><img src="/assets/facebook.png"></a>
          <a href="https://www.instagram.com/nico_dv15/"><img src="/assets/instagram.png"></a>
          <a href="https://www.linkedin.com/in/nicol%C3%A1s-d%C3%A1valos-585015158/"><img src="/assets/linkedin.png"></a>
          <button type="button" class="btn btn-outline-light">LOGIN</button>
        </div>
      </div>
    </div>
</nav>
