nav{
    background-color: #59c4c4;
}

#APlogo {
    width: 104px;
}

span {
    color: #0e1f1f;
    font-size: large; 
}

a{
    margin: 0 3px;
}

img {
    width: 40px;
}

button {
    margin-left: 3px;
    border-width: 2px;
}

.navbar-collapse {
    flex-grow: 0;
}