<section class="vh-100" style="background-color: #59c4c4;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #0e1f1f;">
            <div class="card-body p-5 text-center">
  
              <h2 class="mb-2">LOGIN</h2>
              <h5 class="mb-5">Ingresar usuario y contraseña</h5>

              <form #F="ngForm" (ngSubmit)="onLogin()" novalidate>
                <div class="form-outline mb-4">
                  <input type="text" id="nombreUsuario" name="nombreUsuario" for="nombreUsuario" class="form-control form-control-lg" placeholder="Usuario" [(ngModel)]="nombreUsuario" required/>
                </div>
    
                <div class="form-outline mb-4">
                  <input type="password" id="password" name="password" for="password" class="form-control form-control-lg" placeholder="Contraseña" [(ngModel)]="password" required />
                </div>
  
                <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="#!">¿Olvidaste tu contraseña?</a></p>
      
                <button class="btn btn-outline-light btn-lg btn-block" type="submit">Login</button>
              </form>
              
              <hr class="my-4">
  
              <div>
                <p class="mb-0">¿No tenés Usuario?<a href="#!" class="text-white-50 fw-bold" style="margin-left: 1em">Registrate</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>