<div class="container-fluid" style="overflow: auto">

    <div class="row">
        <h3 class="col col-sm-10 col-lg-11">Proyectos Involucrado</h3>
        <button type="button" class="btn btn-info" id="add" routerLink="/nuevoProy" *ngIf="isLogged">
            <i class="bi bi-plus-square"></i></button>

        <div>
            <table class="table">
                <tbody *ngFor="let Proyectos of proy">
                    <tr>
                        <td>
                            <h5>{{Proyectos.nombreP}}</h5>
                        </td>
                        <td id="desc">{{Proyectos.descripcionP}}</td>
                        <td id="img-highRes"><a href={{Proyectos.linkP}}><img src={{Proyectos.imgP}}
                                    class="img-fluid"></a></td>
                        <td id="btn"><button type="button" class="btn btn-info" routerLink="/editProy/{{Proyectos.id}}"
                                *ngIf="isLogged">
                                <i class="bi bi-pencil-square"></i></button></td>
                        <td id="btn"><button type="button" class="btn btn-info" (click)="deleteProy(Proyectos.id)"
                                *ngIf="isLogged">
                                <i class="bi bi-trash3-fill"></i></button></td>
                    </tr>
                    <tr id="img-lowRes">
                        <td></td>
                        <td><a href={{Proyectos.linkP}}><img src={{Proyectos.imgP}}
                            class="img-fluid"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>