<div class="container-fluid">

    <div class="row">
        <h3>Proyectos Involucrado</h3>

        <div class="col-12 col-md-8 col-lg-9">
            <h5>Portfolio Personal #Argentina Programa - (years)</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro tempora consequuntur quibusdam autem debitis, optio possimus error ipsum corporis eum? Sed velit atque facilis perspiciatis laboriosam amet consequatur veniam. Porro.</p>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <a href="https://github.com/PelusoDv/ProyectoIntegrador"><img src="/assets/YoProgramo.jpg" class="img-fluid"></a>
        </div>

        <div class="col-12 col-md-8 col-lg-9">
            <h5>Pag. comercial - GOGOGO - (years)</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et aspernatur nam sapiente saepe voluptatem libero enim ipsum eius esse, dolores voluptate delectus iusto perferendis ab non sed ipsam tenetur vitae.</p>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
            <a href="https://github.com/Wieworki/Web-project-with-PHP"><img src="/assets/GoGoGo.jpg" class="img-fluid"></a>
        </div>
    </div>

</div>


